.wishlist-enrolled {
    color: #ffffff;
    padding: 2px 4px 3px;
    display: inline-block;
    min-width: 22px;
    height: 20px;
    line-height: 16px;
}
label.enrolled {
    display: inline;
}
.ml-share-bar a{padding:5px}

.btn.btn-default {
    background: #4db2ec;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    font-size: 16px;
    border-radius:0;
    vertical-align:unset;
    border:0;
}
/* .career-btn .mylist_btn {
    background: #4db2ec;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    font-size: 16px;
    border-radius: 0;
    vertical-align: unset;
    border: 0;
} */
.career-btn .js-gd-add-mylist, .career-btn .js-gd-remove-mylist {
    color: #fff;
}
.career-btn .js-gd-add-mylist:hover, .career-btn .js-gd-remove-mylist:hover {
    color: #fff;
}
.career-level {
    padding-bottom: 30px;
}
.action_div input {
    width: 25px;
    position: relative;
    top: 2px;
}
.td-post-sharing-visible {
    text-align: right;
    margin-top: 10px;
    display: block !important;
}
span.btn-success {
    background: #4db2ec;
    color: #fff;
    padding: 10px 15px;
    margin: 10px 0px;
    display: inline-block;
    font-size: 16px;
}
span.btn-success:hover {
    background: 
    #4db2ec;
}
img.user_img {
    border-radius: 50%;
    max-width: 100px;
}
.td-pb-row.profile-header .td-col {
    border: none;
}
.leve_row {
    border: 2px solid;
    padding: 10px;
}
div#action_btn br {
    display: none;
}
div#myList_list .ml-share-bar {
    display: none;
}
.dashboard-listing-view {
    padding-bottom: 30px;
}
.dashboard-listing-view .vc_column_text {
    padding: 0;
    border-top: 0;
}