{{#if showList}}
    {{#if share.showShare}}
    <div class="col-sm-12 ml-share-bar">
        {{share.share_label}}
        <a href="https://twitter.com/share?url={{share.pageid}}wish={{share.userid}}" target="_blank">
            <i class="fab fa-twitter-square"></i>
        </a>
        <a href="whatsapp://send?text={{share.pageid}}wish_{{share.userid}}" data-action="share/whatsapp/share" class="ml-mobile">
            <i class="fab fa-whatsapp-square"></i>
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{share.pageid}}wish={{share.userid}}" target="_blank">
            <i class="fab fa-facebook-square"></i>
        </a>
        <a href="mailto:?body={{share.pageid}}wish={{share.userid}}" target="_blank">
            <i class="fas fa-envelope-square"></i>
        </a>
        <a href="{{share.pageid}}wish={{share.userid}}" target="_blank">
            <i class="fas fa-share-square"></i>
        </a>
    </div>
	

	
    {{/if}}

    {{#if count.showCount}}
    <div class="col-sm-12">
        {{count.count_label}}: {{count.count}}
    </div>
    {{/if}}

    {{#each listitem}}
    <div class="td-pb-row thumbnail gd-mylist-box">
<div class="td-pb-span2">
    {{#if postimage}}
            <a href="{{posturl}}"><img src="{{postimage}}" width="100" height="100"></a>
            {{else}}
            <a href="{{posturl}}"><img src="httpS://placehold.jp/125x70.png" width="100" height="100"></a>
            {{/if}}
</div>
<div class="td-pb-span4">
        <h4><a href="{{posturl}}">{{posttitle}}</a></h4>
        <p>{{sub_title}}</p>
        <!--<p><small>{{postdate}} | {{postAuthorName}}</small></p> {{showRemove.label}} -->
</div>
                <div class="action_div td-pb-span6">
				 {{#if enrolled_users}}
				<label class="enroll"><input id="enrolllist-{{showRemove.itemid}}"  name="enroll" class="enroll_course" type="checkbox" value="Enroll" data-userid="{{showRemove.userid}}" data-postid="{{showRemove.itemid}}" checked disabled>Enrolled</label>
					
					{{else}}
					<label class="enroll"><input id="enrolllist-{{showRemove.itemid}}"  name="enroll" class="enroll_course" type="checkbox" value="Enroll" data-userid="{{showRemove.userid}}" data-postid="{{showRemove.itemid}}" >Enroll</label>
				
					{{/if}}
					{{#if completed_users}}
					<label class="complete"><input id="completelist-{{showRemove.itemid}}" name="complete" class="complete_course" type="checkbox" value="Complete" data-userid="{{showRemove.userid}}" data-postid="{{showRemove.itemid}}" checked disabled>Completed</label>
					{{else}}
					<label class="complete"><input id="completelist-{{showRemove.itemid}}" name="complete" class="complete_course" type="checkbox" value="Complete" data-userid="{{showRemove.userid}}" data-postid="{{showRemove.itemid}}">Complete</label>
					{{/if}}
					 {{#if enrolled_users}}
					<div class="btn btn-default" id="mylist-{{showRemove.itemid}}" data-postid="{{showRemove.itemid}}" data-styletarget="{{showRemove.styletarget}}" 
                            data-userid="{{showRemove.userid}}" ><i class="{{showRemove.icon}}"></i> 
                    </div>
					
					
					{{else}}
					<a href="javascript:void();" 
                            class="btn btn-default js-gd-remove-mylist" 
                            id="mylist-{{showRemove.itemid}}" 
                            data-postid="{{showRemove.itemid}}" 
                            data-styletarget="{{showRemove.styletarget}}" 
                            data-userid="{{showRemove.userid}}" >
                            <i class="{{showRemove.icon}}"></i> 
                    </a>
					{{/if}}
					<div class="btn btn-default js-gd-share-post" data-postid="{{showRemove.itemid}}" id="share-{{showRemove.itemid}}">
                            <i class="fas fa-share-square"></i>
                    </div>
						<div id="td-post-share-{{showRemove.itemid}}" class="td-post-sharing td-ps-bg td-ps-notext td-post-sharing-style1" style="display:none"><div class="td-post-sharing-visible" ><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-facebook" target="_blank" href="https://www.facebook.com/sharer.php?u={{posturl}}" style="transition: opacity 0.2s ease 0s; opacity: 1;">
		<div class="td-social-but-icon"><i class="td-icon-facebook"></i></div>
		<div class="td-social-but-text">Facebook</div>
	</a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-twitter" target="_blank" href="https://twitter.com/intent/tweet?text={{postTitle}}&amp;url={{posturl}}&amp;via=Take+This+Course" style="transition: opacity 0.2s ease 0s; opacity: 1;">
		<div class="td-social-but-icon"><i class="td-icon-twitter"></i></div>
		<div class="td-social-but-text">Twitter</div>
	</a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-googleplus" target="_blank" href="https://plus.google.com/share?url={{posturl}}" style="transition: opacity 0.2s ease 0s; opacity: 1;">
		<div class="td-social-but-icon"><i class="td-icon-googleplus"></i></div>
		<div class="td-social-but-text">Google+</div>
	</a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-whatsapp" target="_blank" href="whatsapp://send?text={{postTitle}}%0A%0A {{posturl}}">
		<div class="td-social-but-icon"><i class="td-icon-whatsapp"></i></div>
		<div class="td-social-but-text">WhatsApp</div>
	</a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-linkedin" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{posturl}}&amp;title=Ultimate Angular 4 (previously Angular 2) with Bootstrap 4" style="transition: opacity 0.2s ease 0s; opacity: 1;">
		<div class="td-social-but-icon"><i class="td-icon-linkedin"></i></div>
		<div class="td-social-but-text">Linkedin</div>
	</a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-reddit" target="_blank" href="https://reddit.com/submit?url={{posturl}}&amp;title={{postTitle}}" style="transition: opacity 0.2s ease 0s; opacity: 1;">
		<div class="td-social-but-icon"><i class="td-icon-reddit"></i></div>
		<div class="td-social-but-text">ReddIt</div>
	</a></div><div class="td-social-sharing-hidden" style="display: none;"><ul class="td-pulldown-filter-list"></ul><a class="td-social-sharing-button td-social-handler td-social-expand-tabs" href="#" data-block-uid="td_uid_4_5e35489f6ad2e">
	<div class="td-social-but-icon"><i class="td-icon-plus td-social-expand-tabs-icon"></i></div>
</a></div>
</div>
            </div>
    </div>
    {{/each}}
{{/if}}

{{#if showEmpty}}
    <div class="alert alert-dismissable alert-info">
        {{showEmpty.empty_label}}
    </div>
{{/if}}