{{#if showAdd}}
<a href="javascript:void();" 
    class="js-gd-add-mylist" 
    id="mylist-{{showAdd.itemid}}" 
    data-postid="{{showAdd.itemid}}" 
    data-styletarget="{{showAdd.styletarget}}" 
    data-userid="{{showAdd.userid}}" >
    <i class="{{showAdd.icon}}"></i> {{showAdd.label}}
</a>
{{/if}}

{{#if showRemove}}

{{#if showRemove.enrolled_user}}

<div class="wishlist-enrolled" 
        id="mylist-{{showRemove.itemid}}" 
        data-postid="{{showRemove.itemid}}" 
        data-styletarget="{{showRemove.styletarget}}" 
        data-userid="{{showRemove.userid}}" >
        <i class="{{showRemove.icon}}"></i> {{showRemove.label}}
</div>
				{{else}}
<a href="javascript:void();" 
        class="js-gd-remove-mylist" 
        id="mylist-{{showRemove.itemid}}" 
        data-postid="{{showRemove.itemid}}" 
        data-styletarget="{{showRemove.styletarget}}" 
        data-userid="{{showRemove.userid}}" >
        <i class="{{showRemove.icon}}"></i> {{showRemove.label}}
</a>
				{{/if}}

{{/if}}

{{#if showLogin}}
<a href="javascript:void();" class="" onclick="javascritp:alert('{{showLogin.message}}')">
    <i class="{{showLogin.icon}}"></i> {{showLogin.label}}
</a>
{{/if}}

{{#if showLoading}}
<i class="{{showLoading.icon}}"></i>
{{/if}}
