.ml-share-bar a{padding:5px}

.btn.btn-default {
    background: #4db2ec;
    color: #000;
    padding: 10px 15px;
    margin: 10px 0px;
    display: inline-block;
    font-size: 16px;
}
.thumbnail.gd-mylist-box img.img-book,.caption p small {
    display: none;
}
div#myList_list .btn.btn-default {
	margin: 0px;
    font-size: 14px;
}
.action_div input {
    width: 25px;
    position: relative;
    top: 2px;
}
.caption {
    border: 2px solid #000;
    margin: 10px 0px;
    padding: 10px;
}
.caption h3 {
    width: 45%;
    float: left;
    line-height: 24px;
    margin: 0px 10px 0px 0px;
    font-weight: 600;
    font-size: 15px;
}
.td-post-sharing-visible {
    text-align: right;
    margin-top: 10px;
    display: block;
}